<html>
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>
<body>
    {% for f in fdata %}
<h1>Restaurant Menu : <b>{{f["name"]}}</b></h1>
    {% endfor %}
<div>
    {% for n in rdata %}
    <div><b>{{n["name"]}}</b></p></div>
    <div>price: ${{n["price"]}}</p></div>
    <div>spice level: {{n["spice_level"]}}/5</p></div>
    <div>main ingredient: {{n["ingredients"]}}</p></div> 
    <hr style="border-top: dotted 1px;" />
    {% endfor %}
    <hr>
  </div>
  <p><a href="/">Go to the main page</a></p>
</body>
</html>