<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Foodie</h1>
  {% if logged_in %}
  <p>Welcome {{uname}}</p>
  <p><a href = "userpage">My account</a></p>
  <p><a href = "logout">Logout</a></p>
  {% else %}
  <p><a href="login">Login</a></p>
  {% endif %}

<form method="POST" action="/search">
  <p>Search for restaurant: <input type="text" name="resname"> <input type="submit" value="Search"></p>

  </form>

<form method="POST" action="/searchcountry">
    <p>Search for restaurant by cuisine country: <input type="text" name="country"> <input type="submit" value="Search"></p>
    </form>
</body>

<form method="POST" action="/searchcity">
  <p>Search for restaurant by restaurant city: <input type="text" name="city"> <input type="submit" value="Search"></p>
  </form>
</body>
<form method="POST" action="/searchstate">
  <p>Search for restaurant by restaurant state: <input type="text" name="state"> <input type="submit" value="Search"></p>
  </form>
</body>
</html>
<form method="POST" action="/keyword">
  <p>Search by food: <input type="text" name="keyword"> <input type="submit" value="Search"></p>
  </form>
</body>
</html>