<html>
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>
<body>
    {% for f in fdata %}
<h1>Restaurant Menu : <b>{{f["name"]}}</b></h1>
    {% endfor %}
<div>
    {% for s in sdata %}
    <div><p>Country: {{s["country"]}}</p></div> 
    <div><p>Region: {{s["region"]}}</p></div> 
    <div><p>Price Range: {{s["price_range"]}}</p></div>
    {% if s["vegetarian"] == 0%}
    <div><p>Vegetarian: No</p></div>
    {% else %}
    <div><p>Vegetarian: Yes</p></div>
    {% endif %}
    {% endfor %}
</div>

<div>
    {% for n in rdata %}
    <div><b><font size="+2">Course Type: <u>{{n["meal_type"]}}</u></font></b></p></div>
    <div><b><a href= "/menu/type/{{n['menu_id']}}/{{n['restaurant_id']}}">{{n["course_type"]}}</a></b></p></div>
    {% endfor %}
  </div>

<div>
  <b><font size="+2">Reviews:</font></b>
  {% for n in rvdata %}
  <div><p><b>{{n["name"]}}</b> Ratings: {{n["rating"]}} <i> on {{n["timestamp"]}}</i></p></div>
  {% if n["mcontent"] %}
  <p>mentioned this review: <i>&ldquo;{{n["mcontent"]}}&rdquo;</i></p>
  {% endif %}
  <div><p>{{n["content"]}}</p></div>
  {% endfor %}

</div>
  <p><a href="/">Go to the main page</a></p>
</body>
</html>